.progress-list {
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding: 1em;
}

.progress-list__item {
  display: flex;
  align-items: center;
}

.progress-list__item-status {
  height: 40px;
  width: 40px;
  padding: 10px;
  margin-right: 1em;
}

.progress-list__item-status-checkmark {
  background: #424242;
  border-radius: 25%;
}

.progress-list__item-label {
  font-weight: bold;
  margin-right: 1em;
}
