.step-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 10px;

  h1 {
    margin: 0;
  }
}

.step-heading.transferring {
  h1 {
    display: none;
  }
  app-active-user-card {
    transition: width 0.6s ease;
    width: 100%;
  }

}

app-step-two .page {
  position: relative;
  z-index: 10;
  background-color: rgba(255,255,255, 0.97);
  padding: 10px;
  border-radius: 5px;
}

.continue-control {
  display: flex;
  justify-content: center;
}
