app-step-two {
  .page {
    max-width: 55%;
  }
}


.step-heading.transferring {
  h1 {
    display: none;
    margin-top: 1em;
  }
}

app-active-user-card {
  width: 100%;
}

.step-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 1rem;

  h1 {
    margin: 0;
    margin-bottom: 1rem;
  }
}

.page {
  position: relative;
  z-index: 10;
  background-color: rgba(255,255,255, 0.97);
  padding: 10px;
  border-radius: 5px;
}

.continue-control {
  display: flex;
  justify-content: center;
}
