.authorization-info {
  max-width: 500px;
  font-size: 1.1rem;
  line-height: 150%;
}

.authorization-info .authorization-info__continue-button {
  display: block;
  margin: auto;
  margin-top: 2em;
}
