.global-header {
  background: #424242;
  color: white;
  height: 56px;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  padding-left: 10%;
  border-bottom: 4px solid rgb(88, 81, 255);

  h1 {
    margin: 0;
  }

  a {
    text-decoration: none;
  }
}

.global-header__title {
  font-size: 1.4rem;
  font-weight: 500;
  color: #1de9b6;
}

main {
  height: calc(100% - 60px);
  overflow: auto;
}
